@import './utils/variables';
@import './utils/normalize';
@import './utils/placeholders';
@import './components/page-header';
@import './components/header-nav';
@import './components/contact-list';
@import './components/hero-section';
@import './components/modal-section';
@import './components/modal-overlay';
@import './components/modal-form';
@import './components/section-properties';
@import './components/section-team';
@import './components/section-clients';
@import './components/about-us';
@import './components/section-filter';
@import './components/category-list';
@import './components/page-footer';
@import './components/logo';
@import './components/social-list';
