.contact-list {
  display: flex;
  margin-left: 305px;
  padding-left: 0;
  &__item {
    display: block;
  }
  &__item:last-child {
    margin-left: 30px;
  }
  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    text-decoration: none;
    color: var(--contact-color);
    fill: var(--contact-color);
    letter-spacing: 0.02em;
  }
  &__link {
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__icon {
    margin-right: 10px;
  }

  &__link:hover,
  &__link:focus {
    fill: $accentColor;
    color: $accentColor;
  }
}
