.contact-list {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (max-width:1199px) {
    margin-left: 84px;
    flex-wrap: wrap;
  }
  @media screen and (min-width:$desktop) {
    margin-left: 305px;
  }
  display: flex;
  padding-left: 0;
  &__item {
    display: block;
  }
  &__item:last-child {
    @media screen and (max-width:1199px) {
      margin-top: 10px;
    }
    @media screen and (min-width:$desktop) {
  margin-left: 30px; }
  }
  &__link {
    @media screen and (max-width:1199px){
      font-size: 12px;
    line-height: 1.16;
    }
    @media screen and (min-width:$desktop){
      font-size: 14px;
    line-height: 1.17;
    }
    font-weight: 500;
   text-decoration: none;
    color: $contactColor;
    fill: $contactColor;
    letter-spacing: 0.02em;
  }
  &__link {
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__icon {
    margin-right: 10px;
  }

  &__link:hover,
  &__link:focus {
    fill: $accentColor;
    color: $accentColor;
  }
}
