.main-logo {
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: $accentColor;

  &__footer {
    color: $mainColor;
    margin-left: auto;
  }
  &__footer--mobile {
    @media screen and (max-width: 767px) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__header {
    color: $brandColor;
  }
}
