.container {
  @extend %container;
}
.page-footer__wrapper {
  @media screen and (max-width: 767px) {
    display: block;
  }
  @media screen and (min-width:$tablet) and (max-width:1199px) {
    flex-wrap: wrap;
  }
  display: flex;
  align-items: baseline;
}

.page-footer {
  background-color: $footerBgc;
  padding-top: 60px;
  padding-bottom: 60px;

  &__address-box {
    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
      margin-bottom: 60px;
    }
    @media screen and (min-width:$tablet) and (max-width:1199px) {
   text-align: center;
    }
  }
  &__text {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $mainColor;
    font-style: normal;
    margin-left: auto;
  }

  &__subtitle {
    @media screen and (max-width: 1199px) {
      text-align: center;
    }
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: $mainColor;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__contact {
    margin-top: 20px;
    @media screen and (max-width: 767px) {
      text-align: center;
      margin-right: auto;
      margin-left: auto;
    }
  }
  &__list {
    margin-left: auto;

    padding-left: 0;
    margin-top: 9px;
  }
  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
  &__icon-list {
    display: flex;
    align-items: center;
    padding: 0;
  }
  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:focus,
  &__link:hover {
    color: $accentColor;
  }
  &__social-wrap {
    margin-left: 70px;
    @media screen and (max-width: 767px) {
      width: 206px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 60px;
    }
    @media screen and (min-width:$tablet) and (max-width:1199px){
      margin-left: 165px;
      margin-bottom: 102px;
    }
  }

  &__submit-wrapper {
    @media screen and (min-width: $desktop) {
      margin-left: 93px;
    }
    @media screen and (min-width:$tablet) and (max-width:1199px) {
      width: 450px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__submit-text {
    @media screen and (max-width: 1199px) {
      text-align: center;
    }
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $mainColor;
    margin-bottom: 20px;
  }
  &__signup-form {
    @media screen and (max-width: 767px) {
      display: block;
    }
    @media screen and (min-width:$tablet) and (max-width:1199px) {
      flex-wrap: wrap;
    
    }
    display: flex;
  }
  &__area-email {
    @media screen and (max-width: 767px) {
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 20px;
    }
    @media screen and (min-width:$tablet) and (max-width:1199px) {
      width: 450px;
      margin-bottom: 20px;
    }
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    width: 358px;
    height: 50px;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    padding-left: 16px;

    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    outline: white;
  }

  &__submit-button {
    @media screen and (max-width: 767px) {
      margin-left: auto;
      margin-right: auto;
    }
    @media screen and (min-width:$tablet) and (max-width:1199px) {
      margin-left: auto;
      margin-right: auto;
    }
    background-color: $accentColor;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.06em;
    margin-left: 12px;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: $mainColor;
    cursor: pointer;
    border: transparent;
  }

  &__icon-send {
    margin-left: 10px;
  }
}
