.properties-title {
  margin: 0;
}

.section-properties {
  background-color: $mainColor;

  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  padding-bottom: 94px;
  padding-top: 94px;

  &__list {
    @media screen and (min-width: $tablet) {
      display: flex;
    }
    @media screen and (min-width: $tablet) and (max-width:1199px) {
      flex-wrap: wrap;
      margin: -15px;
    }
    margin-bottom: 0;
    padding-left: 0;
  }
  &__item {
    @media screen and (max-width: $mobile) {
      width: 450px;
      height: 226px;
      margin-bottom: 30px;
    }
    @media screen and (min-width: $tablet) and (max-width:1199px) {
      flex-basis: calc((100%-15px * 4) /2);
    }
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  &__icon-wrap {
    @media screen and (max-width: $tablet) {
      width: 450px;
      height: 120px;
      margin-bottom: 30px;
    }
    @media screen and (min-width:$tablet) and (max-width:1199px) {
      width: 354px;
      height: 120px;
      margin-bottom: 30px;
    }
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $accentBgc;
  }
  &__item:not(:last-child) {
    @media screen and (min-width: $desktop) {
      margin-right: 30px;
    }
  }

  &__subtitle {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    @media screen and (min-width:$tablet) {
    margin-right: auto;
    margin-left: 15px;
    
    }
  }
  &__text {
    width: 354px;
    margin-top: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $contactColor;
    
  }
}
