$colorBlack: #212121;
$colorWhite: #ffffff;
$colorBlue: #2196f3;
$colorGrey: #afb1b8;
$colorDarkgrey: #757575;
$colorLightgrey: #f5f4fa;
$colorBlack80: #2f303a;

$brandColor: $colorBlack;
$mainColor: $colorWhite;
$accentColor: $colorBlue;
$iconColor: $colorGrey;
$contactColor: $colorDarkgrey;
$accentBgc: $colorLightgrey;
$footerBgc: $colorBlack80;

$mobile: width 480px;
$tablet: width 768px;
$desktop: width 1200px;
