$colorBlack: #212121;
$colorWhite: #ffffff;
$colorBlue: #2196f3;
$colorGrey: #afb1b8;
$colorDarkgrey: #757575;
$colorLightgrey: #f5f4fa;
$colorBlack80: #2f303a;

$brandColor: $colorBlack;
$mainColor: $colorWhite;
$accentColor: $colorBlue;
$iconColor: $colorGrey;
$contactColor: $colorDarkgrey;
$accentBgc: $colorLightgrey;
$footerBgc: $colorBlack80;

%container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

%hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
